torch
pydantic
numpy
moviepy
git+https://github.com/Farama-Foundation/Metaworld.git@master#egg=metaworld
tqdm
flask
transformers
diffusers
accelerate
openai
sentencepiece
opencv-python
stable_baselines3
gym
gymnasium
markdown
scipy
tqdm
wandb
gdown
